.react-root{
	margin:0px;
	padding:0px;
	font-size:18px;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 5% 10% 65% 20%;
  height: 100vh;
  @media (max-width: 480px) {
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 5% 10% 75% 10%;
  }
}

* {
	box-sizing: border-box;
}

html {
  min-height: 100%;
  background-image: url(../background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
}

a[href] {
  color: sienna;
}

.link {
  font-family: Edensor;
  color: sienna;
}

#resize{
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
 }

 button {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
 }

 .window {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-bar {
  background-color: black;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: sienna;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  background-color: #1a1a1a;
  color: white;
  padding: 20px 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 16px;
}

.page {
  width: 100%;
  margin: 0 auto;
}

.page-title {
  font-weight: 400;
  font-size: 35px;
  padding-left: 25%;
  padding-right: 25%;
}

.col {
  display: inline-block;
}

.col-4 {
  width: 13%;
  padding-left: 25%;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.dataTagContainer {
  display: inline-block;
  p{
    overflow: 'hidden';
    text-overflow: 'ellipsis';
    margin: 2px;
    font-size: 12px;
    @media (max-width: 565px) {
      font-size: 6px;
    }
  }
}

img {
  width: 30px;
}

h2 {
  @media(max-width:480px) {
    font-size: 16px;
  }
}

p {
  font-size: 22px;
  @media (max-width: 565px) {
    font-size: 16px;
  }
  @media (max-width: 480px) {
    font-size: 12px;
  }
}